/farms
  {
    /farm01 
      {  
        /clientheaders
          {
            $include "clientheaders.any"
          }

        /virtualhosts
          {
            $include "vhosts.any"
          }
      
        /renders
          {
            $include "renders.any"
          }
      
        /filter
          {
            $include "filters.any"
          }

        /cache
          {
            /docroot "{{ dispatcher_root }}"
            #/statfileslevel "0"
            /allowAuthorized "1"
            #/serveStaleOnError "0"
  
            /rules
              {
                /0000
                  {
                    /glob "*"
                    /type "deny"
                  }
                
                /0001
                  {
                    /glob "/libs/*"
                    /type "allow"
                  }
                
                /0002
                  {
                    /glob "/libs/cq/security/userinfo.*"
                    /type "deny"
                  }

                /0003
                  {
                    /glob "/libs/cq/core/content/welcome.*"
                    /type "deny"
                  }
              }
            
            /invalidate
              {
                $include "invalidate.any"
              }
      
            /allowedClients
            {
              # Uncomment the following to restrict activation requests to originate
              # from "localhost" only.
              #
              #/0000
              #  {
              #  /glob "*"
              #  /type "deny"
              #  }
              #/0001
              #  {
              #  /glob "127.0.0.1"
              #  /type "allow"
              #  }
            }
            
            # The ignoreUrlParams section contains query string parameter names that
            # should be ignored when determining whether some request's output can be
            # cached or delivered from cache.
            #
            # In this example configuration, the "q" parameter will be ignored. 
            #/ignoreUrlParams
            #  {
            #  /0001 { /glob "*" /type "deny" }
            #  /0002 { /glob "q" /type "allow" }
            #  }
      
          }
      
        /statistics
          {
            /categories
              {
                /html
                  {
                    /glob "*.html"
                  }
                /others
                  {
                    /glob "*"
                  }
              }
          }
      }
}
