{% if ansible_os_family == 'RedHat' %}LoadModule dispatcher_module modules/mod_dispatcher.so{% endif %}

<IfModule disp_apache2.c>

    # location of the configuration file. eg: 'conf/dispatcher.any'
    DispatcherConfig conf/dispatcher.any
    
    # location of the dispatcher log file. eg: 'logs/dispatcher.log'
    DispatcherLog    logs/dispatcher.log 
    
    # log level for the dispatcher log, can be either specified
    # as a string or an integer (in parentheses)
    # error(0): Errors
    # warn(1):  Warnings
    # info(2):  Infos
    # debug(3): Debug
    # trace(4): Trace
    DispatcherLogLevel {{ dispatcher_log_level }}
    
    # if turned on, request to / are not handled by the dispatcher
    # use the mod_alias then for the correct mapping
    DispatcherDeclineRoot Off
    
    # if turned on, the dispatcher uses the URL already processed 
    # by handlers preceeding the dispatcher (i.e. mod_rewrite) 
    # instead of the original one passed to the web server. 
    DispatcherUseProcessedURL Off
    
    # if turned to 1, the dispatcher does not spool an error
    # response to the client (where the status code is greater
    # or equal than 400), but passes the status code to
    # Apache, which e.g. allows an ErrorDocument directive
    # to process such a status code. 
    #
    # Additionally, one can specify the status code ranges that should
    # be left to web server to handle, e.g.
    #
    # DispatcherPassError 400-404,501
    DispatcherPassError 0

    #
    # DispatcherKeepAliveTimeout specifies the number of seconds a
    # connection to a backend should be kept alive. If not set or
    # set to zero, connections are not kept alive.
    #
    #DispatcherKeepAliveTimeout 60

</IfModule>

<VirtualHost *:{% if web_server_ssl %}{{ web_server_https_port }}{% else %}{{ web_server_http_port }}{% endif %}>

{% if web_server_ssl %}

SSLEngine on

SSLProtocol all -SSLv2 -SSLv3

SSLCipherSuite HIGH:3DES:!aNULL:!MD5:!SEED:!IDEA

SSLCertificateFile {{ cert_dest_file }}
SSLCertificateKeyFile {{ key_dest_file }}

{% endif %}

    DocumentRoot "{{ dispatcher_root }}"
    AllowEncodedSlashes On

    <Directory "{{ dispatcher_root }}">
        <IfModule disp_apache2.c>
            ModMimeUsePathInfo On
            SetHandler dispatcher-handler
            Require all granted
        </IfModule>

        AllowOverride None
        Options FollowSymLinks
    </Directory>

    ErrorLog logs/error.log
    CustomLog logs/access.log custom
</VirtualHost>
